*{
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*font-family: 'Rancho', cursive;*/
}
html {
  background: url('/images/popcorn-1085072.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#h2-container {
  /*background-color: rgba(255, 255, 255);*/
  margin-top: 12vw;
  width: auto;
  font-weight: lighter;
  text-align: center;
  font-size: 7vw;
  margin-bottom: 0vw;
}
h2.home {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0vw;
}
#p-container {
  /*background-color: rgba(255, 255, 255, 0.3);*/
  margin-top: 1vw;
  font-size: 4vw;
  font-weight: bold;
  width: auto;
  text-align: center;
  /*letter-spacing: 0.65vw;*/
}
/*------------------------------*/
#title-area{
  background-color: none;
  border: none;
}
#title-area h1{
  margin-left: 40px;
}

/*------------------------------*/
#navigation ul li{
  font-size: 1.4em;
}
.icon-list2{
  font-size: 1.4em;
}

.nav-items {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

/*------------------------------*/
.bio-about h4{
  font-size: 1.4em;
}
.bio-body {
  font-size: 1.4em;

}
/*------------------------------*/
#copyright{
  font-family: 'Inconsolata', monospace;
}



@media only screen and (min-width: 400px) and (max-width: 549px){
  #title-area{
    font-size: 2em;
  }
  #title-area h1{
    font-size: 1em;
  }

  /*------------------------------*/
  .icon-list2{
    font-size: 1.8em;
  }

  /*------------------------------*/
  .bio-about h4{
    font-size: 2em;
  }
}



@media only screen and (min-width: 550px) and (max-width: 719px){
  #title-area{
    font-size: 1.6em;
  }

  /*------------------------------*/
  .icon-list2{
    font-size: 2.4em;
  }

  .bio-about h4{
    font-size: 2.8em;
  }
}


@media only screen and (min-width: 720px){
  #title-area{
    font-size: 2.4em;
  }


  /*------------------------------*/
  .icon-list2{
    font-size: 3.4em;
  }

  .bio-about h4{
    font-size: 3.4em;
  }
}
