@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?so79jq');
  src:  url('fonts/icomoon.eot?so79jq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?so79jq') format('truetype'),
    url('fonts/icomoon.woff?so79jq') format('woff'),
    url('fonts/icomoon.svg?so79jq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mapbutton {
  height: 5vw;
  width: auto;
  background-color: rgba(211, 4, 14, 0.8);
  border-radius: 4vw;
  text-align: center;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vw;
  font-size: 3vw;
  border-style: solid 1px black;
}
a {
  text-decoration: none !important;
  color: black;
}
.titleImage {
  height: 50px;
  width: auto;
}
.hamburger-button {
  float: right;
  height: 50px;
  line-height: 3px;
}
button {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.header-nav {
  display: inline;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-list2:before {
  content: "\e9bb";
}

.icon-github:before {
  content: "\eab0";
  size: 20px;
}
