#navigation{
  float: right;
}
#navigation ul li{
  list-style: none;
  font-size: 1.4em;
}
#title-area{
  border-bottom: 2px solid black; 
  padding-top: 1em;
  padding-bottom: 1em;
}
.icon-list2{
  font-size: 2.5em;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 40px;
  right: 1%;
}
#bio-about{
  display: inline-block;
  width: 40%;
}
#bio-about img{
  width:40%;
}
#bio-about h4{

}
